<!DOCTYPE html>
<html lang="en">
<style>
    .tags-container {
        min-height: 100vh;
        background: white;
    }

    .tagintro {
        padding-top: 2%;
        padding-left: 5%;
        font-size: 2em;
        font-weight: bold;
        text-align: left;
    }

    .tag {
        display: inline;
        float: left;
        width: 15%;
        margin-left: 2%;
        margin-top: 5%;
        margin-right: 2%;
        border: solid;
        border-radius: 7px;
        padding: 5px;
        color: #3cdc82;
        font-size: 1.2em;
    }

    .tagsimg {
        width: 100%;
    }

    @media screen and (max-width: 1300px) {
        .tag {
            width: 80%;
        }
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/bootstrap.min.css%>">
    <title><%- themeConfig.siteName %></title>
</head>


<body>
    <!-- 响应式布局，针对PC端内容显示 -->
    <div id="content">
        <div class="nav-large">
            <div class="row">
                <div class="side"><%- include('./includes/side') %></div>
                <div id="main" class="col-xs-12 col-sm-7">
                    <div class="tags-container">
                        <img class="tagsimg" src="<%= site.customConfig['tagimage'] %>" alt="">
                        <% tags.forEach((tag) => { %>
                        <a class="tag" href="<%= tag.link %>"># <%= tag.name %></a>
                        <% }); %>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2"></div>
            </div>
        </div>
        <div id="bg">
        </div>
        <div id="bgurl" style="display:none"><%= site.customConfig['bgimage'] %></div>
    </div>

    <!-- 响应式布局，针对手机端内容显示 -->
    <div class="nav-small">
        <%- include('./includes/bar') %>
        <div style="margin-top:50px"></div>
        <div class="tags-container">
            <img class="tagsimg" src="<%= site.customConfig['tagimage'] %>" alt="">
            <% tags.forEach((tag) => { %>
            <a class="tag" href="<%= tag.link %>"># <%= tag.name %></a>
            <% }); %>
        </div>
    </div>
</body>

</html>
<script src="<%= themeConfig.domain %>/media/js/index.js%>"></script>
<script>
    $(".tag").each(function () {
        var rgb = '#' + Math.floor(Math.random() * 0xffffff).toString(16);;
        $(this).css('color', rgb);
    });
</script>
<%if (site.customConfig.live2d){ %>
<script src="https://l2dwidget.js.org//lib/L2Dwidget.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/live2d.js%>"></script>
<%}%>