<!DOCTYPE html>
<html lang="en">
<style>
    .tags-container {
        min-height: 100vh;
        background: white;
    }

    .tagintro {
        padding-top: 2%;
        padding-left: 5%;
        font-size: 2em;
        font-weight: bold;
        text-align: left;
    }

    .tag {
        display: inline;
        float: left;
        width: 15%;
        margin-left: 2%;
        margin-top: 5%;
        margin-right: 2%;
        border: solid;
        border-radius: 7px;
        padding: 5px;
        color: #3cdc82;
        font-size: 1.2em;
    }

    .tagsimg {
        width: 100%;
    }
    @media screen and (max-width: 1300px) {
    .tag{
        width:80%;
    }
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title><%- themeConfig.siteName %></title>
</head>


<body>
    <!-- 响应式布局，针对PC端内容显示 -->
    <div id="content">
        <div class="nav-large">
            <div class="row">
                <div class="side"><%- include('./includes/side') %></div>
                <div id="tab1" class="tab">
                    <div class="bars">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="close"></div>
                </div>
                <div id="main" class="col-xs-12 col-sm-7">
                    <div class="tags-container">
                        <img class="tagsimg" src="<%= site.customConfig['tagimage'] %>" alt="">
                        <% tags.forEach((tag) => { %>
                        <a class="tag" href="<%= tag.link %>"># <%= tag.name %></a>
                        <% }); %>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2"></div>
            </div>
        </div>
        <div id="bg">
        </div>
        <div id="bgurl" style="display:none"><%= site.customConfig['bgimage'] %></div>
    </div>

    <!-- 响应式布局，针对手机端内容显示 -->
    <div class="nav-small">
        <div class="mobile">

            <!-- Checkbox to toggle the menu -->

            <input type="checkbox" id="open" />
            <!-- The menu -->

            <ul class="sidenav" style="width:80%">
                <label id="mobilemenu2" for="open"><i style="width:80%;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/close.png%>" alt=""></i></label>
                <div class="side" style="width:80%"><%- include('./includes/side') %></div>
            </ul>

            <!-- Content area -->

            <section>
                <div class="mobile-header">
                    <label id="mobilemenu" for="open">
                        <div id="tab1" class="tab" style="left:10%">
                            <div class="bars">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </label>
                    <div class="smallavatar-border">
                        <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>"
                            class="smallavatar">
                    </div>
                </div>


                <div class="mobile-indexcontent">
                    <div class="tags-container">
                        <img class="tagsimg" src="<%= site.customConfig['tagimage'] %>" alt="">
                        <% tags.forEach((tag) => { %>
                        <a class="tag" href="<%= tag.link %>"># <%= tag.name %></a>
                        <% }); %>
                    </div>
                </div>
            </section>

        </div>
    </div>
</body>

</html>
<script>
    var side, main, tab2, ClickbarState, tags;

    function init() {
        side = $('.side');
        tab1 = $('#tab1');
        tab1.css('display', 'none');
        tab2 = document.querySelector("#tab2");
        var bg = $('#bg');
        var bgurl = document.getElementById("bgurl").innerHTML;
        for (var i = 0; i < 3; i++)
            bgurl = bgurl.replace("\\", "/");
        bg.css("background", "url('" + bgurl + "')");
        $(".tag").each(function () {
            var rgb = '#' + Math.floor(Math.random() * 0xffffff).toString(16);;
            $(this).css('color', rgb);
        });
        ClickbarState = 0;
        mobilemenu = document.querySelector("#mobilemenu");
        mobilemenu2 = document.querySelector("#mobilemenu2");
    }
    init();
    var iflock = 0;

    function lock() {
        mobile = $('.mobile');
        if (iflock == 0) {
            mobile.css('overflow', 'hidden');
            iflock = 1;
        } else {
            mobile.css('overflow', 'auto');
            iflock = 0;
        }
    }
    mobilemenu.addEventListener('click', lock);
    mobilemenu2.addEventListener('click', lock);
</script>