<head>
  <!-- 引入Bootstrap核心样式文件 -->
  <link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/bootstrap.min.css%>">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#barmenu" aria-expanded="false" id="barbutton">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= themeConfig.domain %>"><%=themeConfig.siteName%>&nbsp;&nbsp;|</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="barmenu">
        <ul class="nav navbar-nav">
          <% menus.forEach(function(menu) { %>
          <% if (menu.openType === 'External') { %>
          <li><a href="<%= menu.link %>" target="_blank">
              <%= menu.name %>
            </a></li>
          <% } else { %>
          <li>
            <a href="<%= menu.link %>">
              <%= menu.name %>
            </a>
          </li>
          <% } %>
          <% }); %>
          <%if(site.customConfig.talkchoice){%>
            <li><a href="<%= themeConfig.domain %>/talk">说说</a></li>
            <%}%>
          <%if(site.customConfig.friendschoice){%>
          <li><a href="<%= themeConfig.domain %>/friends">友链</a></li>

          <%}%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!-- 引入jQuery核心js文件 -->
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
  var btstate = false;
  var bt = $("#barbutton");
  var bm = $("#barmenu");
  bt.click(function(){
    dropdown();
  })
  function dropdown(){
    console.log(btstate);
    //下拉
    if(btstate==false){
      bt.removeClass("collapsed");
      bt.attr("aria-expanded","true");
      bm.attr("aria-expanded","true")
      bm.fadeIn(700);
      btstate = true;
    }
    else{
      bt.addClass("collapsed");
      bt.attr("aria-expanded","false");
      bm.removeClass("in");
      bm.hide();
      bm.attr("aria-expanded","false");
      btstate = false;
    }
  }
  </script> 
</body>