<body>
    <div id="friendscontainermobile">
        <% if (site.customConfig.friendschoice) { %>
        <% site.customConfig.friends.forEach(function(friend) { %>
        <div class="friend-box" onclick="window.location.href= '<%= friend.siteLink %>';return false">
            <img class="friend-avatar" src="<%= friend.siteLogo %>">
            <div class="flink-info">
                <a href="<%= friend.siteLink %>" class="title" target="_blank"><%= friend.siteName %></a>
                <div style="margin-top:10px"></div>
                <p><%= friend.description %></p>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>

    <div id="friendscontainer">
        <% if (site.customConfig.friendschoice) { %>
        <% site.customConfig.friends.forEach(function(friend) { %>
        <div class="background" onclick="window.open('<%= friend.siteLink %>');return false">
            <div class="infoForm">
                <img class="favatar" src="<%= friend.siteLogo %>">
                <h2><%= friend.siteName %></h2>
                <h3><%= friend.description %></h3>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</body>