<!-- 移动端欢迎页 -->
<div class="welcome">
    <div class="avatar-border">
        <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" class="avatar">
    </div>
    <span class="mobiledescribtion"></span>
</div>
<%if(site.customConfig.bgchoice=='default'){%>
<div id="mobilebgurl" style="display:none"><%= site.customConfig['mobilebgimage'] %></div>
<%}else{%>
    <div id="mobilebgurl" style="display:none"><%= site.customConfig['mobilebgimagelink'] %></div>
<%}%>
<script>
    var welcome = $('.welcome');
    var bgurl = document.getElementById("mobilebgurl").innerHTML;
    for (var i = 0; i < 3; i++)
        bgurl = bgurl.replace("\\", "/");
    welcome.css("background", "url('" + bgurl + "')");
    var mobiledes = document.querySelector(".mobiledescribtion");
    var text = "<%- themeConfig.siteDescription %>";
    // 当前显示第几个字
    var mobilecharIndex = 1;
    // 每个字显示间隔默认是500毫秒
    var mobiledelta = 500;

    // 记录动画执行开始时间
    var mobilestart = null;
    // 是否为删除动画
    var mobileisDeleting = false;

    // 动画回调函数
    function mobileLoadDes(time) {
        window.requestAnimationFrame(mobileLoadDes);
        // 初始化开始时间
        if (!mobilestart) start = time;
        // 获取时间间隔
        var mobileprogress = time - mobilestart;
        // 每隔一定的时间，打印出一个新的字符
        if (mobileprogress > mobiledelta) {
            // 如果是打字效果
            if (!mobileisDeleting) {
                // 给展示文字的span新增一个字符，使用innerHTML来替换，charIndex自增1，然后返回新的字符串子串
                mobiledes.innerHTML = "&nbsp;" + text.slice(
                    0,
                    ++mobilecharIndex
                );
                mobiledelta = 500 - Math.random() * 400;
            } else {
                // 如果是删除效果，则把文字一个一个减掉
                mobiledes.innerHTML = "&nbsp;" + text.slice(
                    0,
                    mobilecharIndex--
                );
            }
            // 把star更新为当前时间，进行下一个周期
            mobilestart = time;

            // 如果文字已经全部打印完毕
            if (mobilecharIndex === text.length) {
                // 下次开始删除文字
                mobileisDeleting = true;
                // 删除文字的间隔为200毫秒
                mobiledelta = 100;
                // 额外等待1.2秒后再删除
                mobilestart = time + 1000;
            }

            // 如果文字删除完毕
            if (mobilecharIndex < 0) {
                mobileisDeleting = false;
                // 额外增加200毫秒延迟
                mobilestart = time + 200;
            }
        }
    }

    window.requestAnimationFrame(mobileLoadDes);
</script>