<link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/font-awesome.css%>">
<div id="post-container">
    <% posts.forEach(function(post) { %>
    <div class="postshow postlist">
        <% if (themeConfig.showFeatureImage && post.feature) { %>
        <a data-pjax href="<%=post.link%>" class="apost">
            <div id="post" style="width:100%">
                <img src="<%= post.feature%>" class="postimage">
                <div class="posttitlebox">
                    <div class="posttitle">
                        <%= post.title %>
                    </div>
                </div>
            </div>
        </a>
        <div class="postinfo">
            <div class="postdate"><i class="fa fa-calendar"></i><%= post.dateFormat %></div>
            <div class="poststatus postdate"><i class="fa fa-clock-o"></i> <%= post.stats.text %></div>
            <div class="posttag">
                <% post.tags.forEach(function(tag) { %>
                <a data-pjax href="<%= tag.link %>" class="postlink">
                    <i class="fa fa-tag"></i> <%= tag.name %>
                </a>
                <% }); %>
            </div>
        </div>
        <% } else {%>
        <a data-pjax href="<%=post.link%>" class="apost">
            <div id="post" style="width:100%">
                <%if(site.customConfig.bgchoice=='default'){%>
                <img src="<%= site.customConfig['postdefaultimage'] %>" class="postimage">
                <%}else{%>
                <img src="<%= site.customConfig['postdefaultimagelink'] %>" class="postimage">
                <%}%>
            <div class="posttitlebox">
                <div class="posttitle" >
                <%= post.title %>
            </div>
    </div>
</div>
</a>
<div class="postinfo">
    <div class="postdate"><i class="fa fa-calendar"></i><%= post.dateFormat %></div>
    <div class="poststatus postdate"><i class="fa fa-clock-o"></i> <%= post.stats.text %></div>
    <div class="posttag">
        <% post.tags.forEach(function(tag) { %>
        <a data-pjax href="<%= tag.link %>" class="postlink">
            <i class="fa fa-tag"></i> <%= tag.name %>
        </a>
        <% }); %>
    </div>
</div>
<% } %>
</div>
<% }); %>
</div>