<body>
    <%if(site.customConfig.menuposition=='left'){%>
    <div id=side>
        <div class="avatar-border">
            <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" class="avatar">
        </div>
        <div class="sitename"><%=themeConfig.siteName%></div>
        <span class="describtion" data-text='["<%- themeConfig.siteDescription %>"]'>&nbsp;</span>
        <%if (site.customConfig.search){ %>
        <div class="search">
            <!-- <input type="text" class="search-input" placeholder="标题搜索(●'◡'●)" /> -->
            <input type="text" class="search-input" placeholder="<%= site.customConfig['searchplaceholder'] %>">
            <div class="search-results"></div>
        </div>
        <%}%>
    <div class="share-button">
        <span>社交按钮</span>
        <% if (site.customConfig['github']) { %>
        <a href="<%= site.customConfig['github'] %>" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/github.png%>" alt=""></i></a>
        <% } %>
        <% if (site.customConfig['QQ']) { %>
        <a onclick="showqq()"><i style="font-size: 20px;"><img class="icon" src="<%= themeConfig.domain %>/media/images/QQ.png%>" alt=""></i></a>
        <% } %>
        <% if (site.customConfig['zhihu']) { %>
        <a href="<%= site.customConfig['zhihu'] %>" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/zh.png%>" alt=""></i></a>
        <% } %>
        <% if (site.customConfig['bilibili']) { %>
        <a href="<%= site.customConfig['bilibili'] %>" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/bilibili.png%>" alt=""></i></a>
        <% } %>
        <% if (site.customConfig['wechat']) { %>
        <a href="<%= site.customConfig['wechat'] %>" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/wechat.png%>" alt=""></i></a>
        <% } %>
        <% if (site.customConfig['steam']) { %>
        <a href="<%= site.customConfig['steam'] %>" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="<%= themeConfig.domain %>/media/images/steam.png%>" alt=""></i></a>
        <% } %>
    </div>
    <div id="qq" style="display:none"><%= site.customConfig['QQ'] %></div>
    <% menus.forEach(function(menu) { %>
    <% if (menu.openType === 'External') { %>
    <div class="mchocie describtion">
        <a href="<%= menu.link %>" class="mchocie describtion" target="_blank">
            <%= menu.name %>
        </a>
    </div>
    <% } else { %>
    <div class="mchocie describtion">
        <a href="<%= menu.link %>" class="menubutton">
            <%= menu.name %>
        </a>
    </div>
    <% } %>
    <% }); %>
    <%if(site.customConfig.talkchoice){%>
    <div class="mchocie describtion">
        <a href="<%= themeConfig.domain %>/talk" class="menubutton">说说</a>
    </div>
    <%}%>
    <%if(site.customConfig.friendschoice){%>
    <div class="mchocie describtion">
        <a href="<%= themeConfig.domain %>/friends" class="menubutton">友人帐</a>
    </div>
    <%}%>
    <hr>
    <div id="footinfo"><%- themeConfig.footerInfo%> | Theme: <a
        href="https://github.com/850552586/gridea-theme-fog">Fog</a></div>
    <%if (site.customConfig.sitegotimeChoice){ %>
    <div id="sitegotimeDate">载入天数...</div>
    <div id="sitegotimes">载入时分秒...</div>
    <div id="cussitetime" style="display:none"><%= site.customConfig['sitegotime'] %></div>
    <%}%>
    <%if (site.customConfig.sitenumChoice){ %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <div id="vistornum">
        <span id="busuanzi_container_site_uv">
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> 总访问量:<span id="busuanzi_value_site_pv"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <i class="fa fa-user-o" aria-hidden="true"></i> 访问人数:<span id="busuanzi_value_site_uv"></span>
        </span>
    </div>
    <div style="color:white"><%= site.customConfig.recordText %></div>
    <%}%>
    </div>


<script src="<%= themeConfig.domain %>/media/js/wordshow.js%>"></script>
    <%if (site.customConfig.sitegotimeChoice){ %>
    <script>
        //----------------------站点运行时间
        var now = new Date();

        function createtime() {
            var sitegotime = document.getElementById("cussitetime").innerHTML + " 00:00:00";
            var grt = new Date(sitegotime); //此处修改你的建站时间或者网站上线时间
            now.setTime(now.getTime() + 250);
            days = (now - grt) / 1000 / 60 / 60 / 24;
            dnum = Math.floor(days);
            hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
            hnum = Math.floor(hours);
            if (String(hnum).length == 1) {
                hnum = "0" + hnum;
            }
            minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
            mnum = Math.floor(minutes);
            if (String(mnum).length == 1) {
                mnum = "0" + mnum;
            }
            seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
            snum = Math.round(seconds);
            if (String(snum).length == 1) {
                snum = "0" + snum;
            }
            document.getElementById("sitegotimeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
            document.getElementById("sitegotimes").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
        }
        setInterval("createtime()", 250);
    </script>
    <%}%>
<%}%>



    <%if(site.customConfig.menuposition=='top'){%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="<%= themeConfig.domain %>"
                    style="font-size:21px"><%=themeConfig.siteName%>&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                <a class="navbar-brand" href=""
                    style="font-size:15px;font-family:kaiti"><%- themeConfig.siteDescription %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <%if (site.customConfig.search){ %>
                <div class="search nav navbar-nav" style="margin-top:8px">
                    <!-- <input type="text" class="search-input" placeholder="标题搜索(●'◡'●)" /> -->
                    <input type="text" class="search-input" placeholder="<%= site.customConfig['searchplaceholder'] %>">
                    <div class="search-results"></div>
                </div>
                <%}%>
                <div class="search nav navbar-nav">
                <a title="text" onclick="document.getElementById('socialMenu').style.display='block'"><i><img class="social"
                    src="<%= themeConfig.domain %>/media/images/social.png%>" alt=""></i></a>
            </div>
            <ul class="nav navbar-nav" style="float: right;margin-right:5%">
                <% menus.forEach(function(menu) { %>
                <% if (menu.openType === 'External') { %>
                <li><a href="<%= menu.link %>" target="_blank" style="color:white">
                        <%= menu.name %>
                    </a></li>
                <% } else { %>
                <li>
                    <a href="<%= menu.link %>" style="color:white">
                        <%= menu.name %>
                    </a>
                </li>
                <% } %>
                <% }); %>
                <%if(site.customConfig.talkchoice){%>
                <li><a href="<%= themeConfig.domain %>/talk" style="color:white;">说说</a></li>
                <%}%>
                  <%if(site.customConfig.friendschoice){%>
                <li><a href="<%= themeConfig.domain %>/friends" style="color:white">友链</a></li>
                <%}%>
                  <li><img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt=""
                class="menutopavatar"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="socialMenu">
        <div class="animate">
            <div class="socialContainer">
                <% if (site.customConfig['github']) { %>
                <a href="<%= site.customConfig['github'] %>" target="_blank"><i style="font-size: 40px;"><img class="icon "
                            src="<%= themeConfig.domain %>/media/images/github.png%>" alt=""></i></a>
                <% } %>
                <% if (site.customConfig['QQ']) { %>
                <a onclick="showqq()" style="cursor:pointer"><i style="font-size: 40px;"><img class="icon" src="<%= themeConfig.domain %>/media/images/QQ.png%>"
                            alt=""></i></a>
                <% } %>
                <% if (site.customConfig['zhihu']) { %>
                <a href="<%= site.customConfig['zhihu'] %>" target="_blank"><i style="font-size: 40px;"><img class="icon"
                            src="<%= themeConfig.domain %>/media/images/zh.png%>" alt=""></i></a>
                <% } %>
                <% if (site.customConfig['bilibili']) { %>
                <a href="<%= site.customConfig['bilibili'] %>" target="_blank"><i style="font-size: 40px;"><img class="icon"
                            src="<%= themeConfig.domain %>/media/images/bilibili.png%>" alt=""></i></a>
                <% } %>
                <% if (site.customConfig['wechat']) { %>
                <a href="<%= site.customConfig['wechat'] %>" target="_blank"><i style="font-size: 40px;"><img class="icon"
                            src="<%= themeConfig.domain %>/media/images/wechat.png%>" alt=""></i></a>
                <% } %>
                <% if (site.customConfig['steam']) { %>
                <a href="<%= site.customConfig['steam'] %>" target="_blank"><i style="font-size: 40px;"><img class="icon"
                            src="<%= themeConfig.domain %>/media/images/steam.png%>" alt=""></i></a>
                <% } %>
            </div>
            <div id="qq" style="display:none"><%= site.customConfig['QQ'] %></div>
        </div>
    </div>
    <!-- 引入jQuery核心js文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script>
        var social = document.getElementById('socialMenu');
        // 鼠标点击模型外区域关闭登录框
        window.onclick = function (event) {
            if (event.target == social) {
                social.style.display = "none";
            }
        }
    </script>
    <%}%>
</body>
<script>
    //-------------------------------------------------搜索
    // 获取搜索框、搜索按钮、清空搜索、结果输出对应的元素
    var searchInput = document.querySelector('.search-input');
    var searchResults = document.querySelector('.search-results');

    // 申明保存文章的标题、链接、内容的数组变量
    var searchValue = '',
        arrItems = [],
        arrLinks = [],
        arrTitles = [],
        arrResults = [],
        indexItem = [],
        itemLength = 0;
    var tmpDiv = document.createElement('div');
    tmpDiv.className = 'result-item';

    // ajax 的兼容写法
    var xhr = new XMLHttpRequest() || new ActiveXObject('Microsoft.XMLHTTP');
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            xml = xhr.responseXML;
            arrItems = xml.getElementsByTagName('entry');
            itemLength = arrItems.length;
            // 遍历并保存所有文章对应的标题、链接、内容到对应的数组中
            // 同时过滤掉 HTML 标签
            for (i = 0; i < itemLength; i++) {
                var link = arrItems[i].getElementsByTagName('link')[0];
                arrLinks[i] = link.getAttribute("href");
                arrTitles[i] = arrItems[i].getElementsByTagName('title')[0].
                childNodes[0].nodeValue.replace(/<.*?>/g, '');
            }
        }
    }

    // 开始获取根目录下 feed.xml 文件内的数据
    xhr.open('get', '/atom.xml', true);
    xhr.send();



    // 输入框内容变化后就开始匹配，可以不用点按钮
    // 经测试，onkeydown, onchange 等方法效果不太理想，
    // 存在输入延迟等问题，最后发现触发 input 事件最理想，
    // 并且可以处理中文输入法拼写的变化
    searchInput.oninput = function () {
        setTimeout(searchConfirm, 0);
    }
    searchInput.onfocus = function () {
        searchResults.style.display = 'block';
    }

    function searchConfirm() {
        if (searchInput.value == '') {
            searchResults.style.display = 'none';
        } else if (searchInput.value.search(/^\s+$/) >= 0) {
            // 检测输入值全是空白的情况
            searchInit();
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerText = '请输入有效内容...';
            searchResults.appendChild(itemDiv);
        } else {
            // 合法输入值的情况
            searchInit();
            searchValue = searchInput.value;
            // 在标题、内容中查找
            searchMatching(arrTitles, searchValue);
        }
    }

    // 每次搜索完成后的初始化
    function searchInit() {
        arrResults = [];
        indexItem = [];
        searchResults.innerHTML = '';
        searchResults.style.display = 'block';
    }

    function searchMatching(arr1, input) {
        // 忽略输入大小写
        input = new RegExp(input, 'i');
        // 在所有文章标题、内容中匹配查询值
        for (i = 0; i < itemLength; i++) {
            if (arr1[i].search(input) !== -1) {
                var arr = arr1;
                indexItem.push(i); // 保存匹配值的索引
                var indexContent = arr[i].search(input);
                // 此时 input 为 RegExp 格式 /input/i，转换为原 input 字符串长度
                var l = input.toString().length - 3;
                var step = 10;

                // 将匹配到内容的地方进行黄色标记，并包括周围一定数量的文本
                arrResults.push(arr[i].slice(indexContent - step, indexContent));
            }
        }

        // 输出总共匹配到的数目
        var totalDiv = tmpDiv.cloneNode(true);
        totalDiv.innerHTML = '<b>总匹配：' + indexItem.length + ' 项<hr></b>';
        searchResults.appendChild(totalDiv);

        // 未匹配到内容的情况
        if (indexItem.length == 0) {
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerText = '未匹配到内容...';
            searchResults.appendChild(itemDiv);
        }

        // 将所有匹配内容进行组合
        for (i = 0; i < arrResults.length; i++) {
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerHTML = '<b>[' + arrTitles[indexItem[i]] +
                ']</b><p>' + arrResults[i] + "</p><hr />";
            itemDiv.setAttribute('onclick', 'changeHref(arrLinks[indexItem[' + i + ']])');
            searchResults.appendChild(itemDiv);
        }
    }

    function changeHref(href) {
        location.href = href;
    }

    function showqq() {
        var qq = document.getElementById("qq").innerHTML;
        if (qq != '')
            window.location.href = "tencent://message/?uin=" + qq + "&Site=&Menu=yes";
        else
            alert("博主暂未设置QQ联系方式");
    }
</script>
